<launch>
  <param name="/use_sim_time" value="true" />

  <arg name="model" default="$(find choreonoid_ros_mobile_robot_tutorial)/robot/mobile_robot.urdf"/>
  <arg name="rvizconfig" default="$(find choreonoid_ros_mobile_robot_tutorial)/config/mobile_robot_sensors.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <remap from="/joint_states" to="/MobileRobot/joint_states" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph" />
</launch>
